@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
/*----- Стили обнуления -----*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body {
  line-height: 1;
  color: #000;
}

/* --------------- */
.page {
  font-family: Oswald, sans-serif;
  background: url("../../img/content/fon.png");
}

.conteiner {
  overflow: hidden;
  max-width: 1100px;
  margin: 7px auto;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #aaa;
  background: white url("../../img/content/fon-conteiner.png");
}

.header__title {
  font-size: 42px;
  text-shadow: 1px 1px 1px white;
  text-decoration: underline;
  background-color: #9b9bff;
  padding: 15px 10px 25px;
  max-width: 200px;
  text-align: center;
  border-radius: 50%;
}

.info-block {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  max-width: 700px;
  margin: 10px auto;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(155, 155, 255, 0.3);
}

.block-1 {
  min-height: 400px;
  background: #005C97;
  background: #003973;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E5E5BE, #003973);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: right;
  border-radius: 5px;
  padding: 10px 10px 0;
  color: deepskyblue;
}
.block-1 a {
  color: aliceblue;
}
.block-1 a:hover {
  color: deepskyblue;
}

.block-2 {
  background: url("../../img/content/01.jpg") center/cover no-repeat;
  min-height: 400px;
  border-radius: 5px;
  padding: 10px 10px 0;
}

.block-3 {
  border: 1px solid black;
  padding: 10px;
  max-width: 330px;
}

.block-4 {
  background: url("../../img/content/car.png") center 110%/250px 250px no-repeat, url("../../img/content/02.jpg") center/contain no-repeat fixed;
  min-height: 700px;
  padding: 10px 10px 0;
}

.block {
  margin: 10px 0;
}
.block__list {
  margin-top: 17px;
}
.block__list li {
  margin-bottom: 13px;
  min-height: 16px;
  background: url("../../img/icons/checked.png") 0 2px no-repeat;
  padding: 0 0 0 22px;
}
.block__link {
  display: block;
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0 3px 0 1px dodgerblue;
  background-color: deepskyblue;
  color: white;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
}
.block__link span {
  display: inline-block;
  padding: 0 0 0 27px;
  background: url("../../img/icons/placeholder.png") 0 0/contain no-repeat;
}

.footer__list {
  font-size: 0;
}
.footer__list li {
  display: inline-block;
  margin: 0 10px;
}
.footer__link {
  display: inline-block;
  max-width: 250px;
  font-size: 18px;
  text-align: center;
  color: white;
  border-radius: 15px;
  box-shadow: 0 3px 0 1px dodgerblue;
  background-color: deepskyblue;
  padding: 12px 30px;
}
.footer__link:hover {
  color: midnightblue;
}
.footer__link span {
  background: url("../../img/icons/settings-gears.png") 0 0/contain no-repeat;
  padding: 0 0 0 37px;
}